* {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
}

.calender-cont {
    margin: 25px 40px;
    padding: 10px;
    color: white;
    width: 80%;
    background-color: #24243c;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
}

.calender-cont table {
    border-radius: 15px;
    overflow: hidden;

}

.fc .fc-scrollgrid {
    border-collapse: collapse;
    border: 1px solid white;
}

tr {
    border: none;
}
.right{
    width: 90%;
}
.add-event {
    color: white;
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.add-event form {
    background-color: #070710;
    width: 75%;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.add-event button {
    background-color: transparent;
    border: none;
    outline: none;
}

.add-event button:hover {
    background-color: #2f2525a5;
}

.add-event .input {
    width: 90%;
    margin: 0;
    padding: 10px;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
}

.add-event input {
    margin: 15px;
    background-color: transparent;
    color: white;
}

.subButton {
    padding: 5px 20px;
    margin: 10px;
    background: #292424;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;

}

.event-cont {
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.event {
    background: #2c2d4c;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    margin: 10px;
    padding: 25px;
    display: flex;
    width: 250px;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.he {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    padding: 5px;
    font-size: 1.3rem;
    font-weight: 500;
}

.del button {
    margin-top: 5px;
    background: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    color: white;
}

.del button:hover {
    color: rgb(255, 3, 3);
    background-color: transparent;
}

.fc-theme-standard .fc-popover {
    background: #050318;
    border: 1px solid var(--fc-border-color);
}

@media only screen and (max-width: 600px) {
    .calender-cont {
        margin: 10px 0;
        width: 110%;
    }
}